<footer>
    <div class="container">
        <div style="width:50%; float:right;">
            <p>Clinical practice guidelines should not guide patient care alone. See our <a href="{{ site.baseurl }}/disclaimer">full disclaimer</a>.</p>
        </div>
        <div style="width:50%; float:left;">
            <ul style="list-style:none; padding-left:1em;">
                <a href="{{site.baseurl}}/about">About</a>
                <li><a href="">Who we are</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">Disclaimer</a></li>
                <li><a href="">Contact us</a></li>
            </ul>
        </div>
    </div>
</footer>